* {
  box-sizing: border-box;
}

body {
   
  background: #00F260;  /* fallback for other browsers */
  background: linear-gradient(to right, #0575E6, #00F260); 
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  font-size: 2rem;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 730px;
  margin: auto
}

section {
  background-color: rgba(255, 255, 255, 0.666);
  max-width: 300px;
  width: 100%;
  padding: 1rem;
  border: solid white; 
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: start;
}
li p {
  max-width: 85%;
}

div {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.current p {
  margin: .5rem;
  font-size: 1.25rem;
  font-weight: 400;
  font-style: italic;
}

#demo {
  display: none;
  animation: pop .5s linear infinite alternate
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0
}

@keyframes pop {
0% {
  transform: scale(1);
}  
100% {
  transform: scale(2);
}
}